---
const { type, day, date, event, location, eventImgClass, time } = Astro.props;
---

<div class={`
event__background-img
${eventImgClass}`}>
<h6>{type}</h6>
    <h3 class="event__date">{ date }</h3>
    <h5 class="event__day">{ day }</h5>
    <p class="event">{ event }</p>
    <p>{ location }</p>
    <p>{ time }</p>
</div>


<style>
.background-col__party {
    background-color: var(--sixth-color);
    padding: 1.8em 1.2em;
}

.background-col__charity {
    background-color: var(--third-color);
    padding: 1.8em 1.2em;
}

.background-col__international {
    background-color: var(--fourth-color);
    padding: 1.8em 1.2em;
}

.background-col__corporate {
    background-color: var(--fifth-color);
    padding: 1.8em 1.2em;
}

.background-col__race {
    background-color: var(--second-color);
    padding: 1.8em 1.2em;
}

.event {
    font-size: var(--fs-400);
}

.event__date {
    margin-bottom: 0;
}

.event__day {
    color: #fff;
}

.event__background-img {
    font-weight: bold;
}
</style>