---

---

<div class="image-animated__container">
<div class="fadein">
    <img id="f3" src="/images/nicole-paddling.webp">
    <img id="f2" src="/images/stella-paddling.webp">
    <img id="f1" src="/images/tina-paddling.webp">
</div>
</div>

<style>
    .image-animated__container {
        max-width: 340px;
        position: relative;
        display: grid;
        justify-items: center;  
        margin: 2em;
    }
    .fadein img {
        border: 4px solid #fff;
        border-radius: 2px;
    transform: rotate(8deg);
    position: absolute;
    top: 0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    -webkit-animation-delay: -8s;
}

#f2 {
    -webkit-animation-delay: -6s;
}

#f3 {
    -webkit-animation-delay: -4s;
}
</style>