---
const { heading } = Astro.props;
---




<div class="masonry__container">
        <slot/>
</div>

<style>

.masonry__container {
    display: flex;
    gap: .6em;
    flex-direction: column;
    max-width: 75em;
    margin: 0 auto;
    padding: 0 1.2em; 
}

@media only screen and (min-width: 45em) {
 
    .masonry__container {
        flex-direction: row;
    }
    
}
</style>