---
import Section from "./Section.astro"
---

<Section>
    <h6 class="subheading">Train with us in Paphos</h6>
<h2>Paphos</h2>
<div class="training-grid">
    <div>
        <h3>WED</h3>
        <p class="training__time">6:00am</p>
    </div>
    <div>
        <h3>THU</h3>
        <p  class="training__time">6:00pm</p>
    </div>
    <div>
        <h3>SAT</h3>
        <p class="training__time">4:00pm</p>
    </div>
    <p class="span-2">Depending on the weather, we train either at Mavrokolympus Dam or at Timi Beach.</p>
</div>

</Section>

<Section>
    <h6 class="subheading">Train with us in Limassol</h6>
<h2>Limassol</h2>
<div class="training-grid">
    <div>
        <h3>WED</h3>
        <p class="training__time">6:30pm</p>
    </div>
    <div>
        <h3>SAT</h3>
        <p  class="training__time">7:30am</p>
    </div>
    <div>
        <h3>SUN</h3>
        <p class="training__time">9:00am</p>
    </div>
    <p class="span-2">Depending on the weather, we train either at Germasogia Dam or at Miami Beach.</p>
</div>
</Section>


<style>
    .training-grid {
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 1px solid #fff;
        padding-bottom: 2em;
        gap: 3em;
    }

    .training__time {
        font-size: var(--fs-500);
        margin-top: -0.4em;
    }


    @media only screen and (min-width: 45em) {
        .training-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    }
</style>