---

---
<div class="table__container">
<table>
    <thead>
    <th></th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Saturday</th>
    <th>Sunday</th>
</thead>
<tbody>
    <tr>
        <td>Paphos</td>
        <td>6am (winter & summer)</td>
        <td>6pm (winter) <br> 6:30pm (summer)</td>
        <td>3:30pm (winter & summer)</td>
        <td class="align--center">-</td>
    </tr>
    <tr>
        <td>Limassol</td>
        <td>6:30pm (winter & summer)</td>
        <td class="align--center">-</td>
        <td>7:30am (winter & summer)</td>
        <td>9:00am (winter & summer)</td>
    </tr>
</tbody>
</table>
</div>

<style>
    .table__container {
        margin: 0 auto;
        max-width: 900px;
    }
    table {
        color:#fff;
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid #fff;
    }

    th {
        padding: 1.6em;
        background-color: var(--fourth-color);
    }

    td {
        padding: 1em 1.4em;
    }
</style>