* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #VARIABLES */

:root {
    --first-color: #2e0071;
    --second-color: #FF6659;
    --third-color: #f90d8d;
    --fourth-color: #7b57c4;
    --fifth-color: #00a6e2;
    --sixth-color: #0074c7;
    --light-color: #fff;

    --ff-heading: 'GothamBlack', Arial, Helvetica, sans-serif;
    --ff-text: 'proxima-nova', sans-serif;
    --ff-accent: 'marker-aid', sans-serif;
    --fs-xl: 4.4rem;
    --fs-700: 3.2rem;
    --fs-600: 2.4rem;
    --fs-500: 2rem;
    --fs-400: 1.6rem;
    --fs-300: 1.2rem;
    --fs-xs: 0.9rem;

}

/* #FONTS*/

@font-face {
    font-family: 'GothamBlack';
    src: url(/fonts/GothamBlackRegular.ttf);
}

/* #TYPOGRAPHY*/



h1, h2, h3, h4, h5 {
    font-family: var(--ff-heading);
}

h1 {
    font-size: var(--fs-700);
}

h2 {
    font-size: var(--fs-600);
    color: #fff;
    margin-bottom: 1em;
    max-width: 60%;
}

h3 {
    font-size: var(--fs-600);
    color: #fff;
    margin-bottom: 0.4em;
}

h6 {
    font-family: var(--ff-accent);
    font-size: 1.3em;
    color: var(--light-color);
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 0.1em;
}

h6::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.8em;
    width: 100%;
    background: linear-gradient(45deg, var(--third-color), var(--first-color));
    z-index: -1;
    transition: height .30s cubic-bezier(0.6, 0, .4, 1);
}

p {
    color: #fff;
    font-size: var(--fs-300);
}

@media only screen and (min-width: 40em) {
    h1 {
        font-size: var(--fs-xl);
    }

    h2 {
        font-size: var(--fs-700);
        color: #fff;
        margin-bottom: 1em;
    }
    
    h3 {
        font-size: var(--fs-600);
        color: #fff;
        margin-bottom: 0.4em;
    }
}

/* #BODY */

body {
    background-color: var(--first-color);
    font-family: var(--ff-text);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* #MAINLAYOUT */

.main-layout__grid {
    display: grid;
    min-height: 100dvh;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

/* #GENERAL CSS */

a {
    text-decoration: none;
}

.align--center {
    text-align: center;
}

.span-2 {
    grid-column: span 2;
    grid-column: 1 / 3;
}

.span-3 {
    grid-column: 1 / 4;
}

.start-row-2,
.start-row-3 {
    grid-column: span 2;
}

.start-row-3 {
    grid-row-start: 4;
    grid-column: span 2;
}

@media only screen and (min-width: 40em) {
    .start-row-2 {
        grid-row-start: 2;
    }

    .start-col-2 {
        grid-column-start: 2;
    }
    
    .start-col-1 {
        grid-column-start: 1;
    }
    .start-row-3 {
        grid-row-start: 3;
    }
}