---
import HeroShot from "../components/HeroShot.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Quote from "../components/Quote.astro";
import Wrapper from "../components/Wrapper.astro";
import Grid from "../components/Grid.astro";
import Section from "../components/Section.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Lists from "../components/Lists.astro";
import Image from "../components/Image.astro";
import Button from "../components/Button.astro";
import ImageGrid from "../components/ImageGrid.astro";
import Stack from "../components/Stack.astro";
import ProductCard from "../components/ProductCard.astro";
import EventCard from "../components/EventCard.astro";
---

<MainLayout
title="Sharks Homepage"
description=""
>
<HeroShot
img={{
	src:'/images/dragon-boat-team-2k-race.webp',
	alt:''
}}
heading="We build strength and perfect technique"
text=""
btn={{
	href:'/contact',
	text:'Join our team'
}}
alignClass="heroshot__align--center"
/>
	<Section
	paddingClass="section__padding">
	<Wrapper>
	<Grid
	gridColumnClass="grid-2fr">
<Quote 
quote="We are the dragon boat team in Cyprus, you want to be part of. Smile like a shark or swim home."/>
<!-- 
<BackgroundImage 
backgroundImgClass="background-img__couple"
/>
-->
</Grid>
</Wrapper>
</Section>
<Section>
<Image 
img={{
	src:'/images/dragon-boat-women.webp',
	alt:'Two women sitting on the front bench of a dragon boat'
}}
/>
</Section>

<Section 
backgroundImgClass="background-img__map"
paddingClass="section__padding">
<Wrapper>
	<h6>Don't waste your time</h6>
<h2>Join our training sessions</h2>
<Grid
gridColumnClass="grid-5fr"
>

<div class="start-row-2  start-col-1">
	<h3>Paphos</h3>
	<Lists 
	listItems={[
		"Wednesday morning",
		"Thursday evening",
		"Saturday afternoon"
	]}
	/>
</div>
<div class="start-row-2  start-col-2">
	<h3>Limassol</h3>
	<Lists 
	listItems={[
		"Wednesday evening",
		"Saturday morning",
		"Sunday morning"
	]}
	/>
</div>
<div class="start-row-3">	
	<Button 
	btn={{
		href:'',
		text:'Get in touch'
	}}
	alignClass="align--left"
	/>
</div>
</Grid>
</Wrapper>
</Section>
<Section 
heading="Our coaches make you smile and paddle like a shark"
backgroundImgClass="background-img__scales">
<Wrapper>
<ImageGrid />
<Button 
btn={{
	href:'/about',
	text:'Get to know us'
}}
alignClass="align--right"
/>
</Wrapper>
</Section>
<Section>
<Image 
img={{
	src:'/images/dragon-boat-bubbles.svg',
	alt:'Illustration about the benefits of dragon boating'
}}
maxWidthClass="width--80"
/>
</Section>

<Button 
btn={{
	href:'',
	text:'Join our team'
}}
alignClass="align--center"
/>

<Section>
	<Stack 
	heading="We are waiting for you. If you don't try, you won't know."
	img={{
		src:'/images/team.webp',
		alt:'Team picture of the dragon boat team sharks'
	}}
	btn={{
		href:'',
		text:'Contact us'
	}}
	/>
</Section>

<Section
heading="Become a real shark">
	<Wrapper>
		<Grid
		gridColumnClass="grid-3fr">
		<ProductCard 
		img={{
			src:'/images/shirt-blue.jpeg',
			alt:'Blue Shirt from Dragon Boat Team Sharks'
		}}
		title="Blue Shirt"
		price="25€"
		/>
		<ProductCard 
		img={{
			src:'/images/leggings-purple.jpeg',
			alt:'Purple Leggings from Dragon Boat Team Sharks'
		}}
		title="Purple Leggings"
		price="28€"
		/>
		<ProductCard 
		img={{
			src:'/images/hoody-blue.jpeg',
			alt:'Blue Hoody from Dragon Boat Team Sharks'
		}}
		title="Blue Hoody"
		price="35€"
		/>
		</Grid>
		<Button 
		btn={{
			href:'',
			text:'Go to our shop'
		}}
		alignClass="align--center"
		/>
	</Wrapper>
	</Section>

	<Section
	heading="Upcoming events"
	headingMarginClass="section__heading-margin--large"
>
	<div class="grid  grid-4fr">
		<EventCard client:load />

	</div>
	<div class="flex-centered">
		<Button 
			button={{
				text:'See calendar',
				href:'/calendar'
			}}
		/>
	</div>
</Section>


	<Section
	heading="Events coming up in 2023">
		<Wrapper>
			<Grid
			gridColumnClass="grid-5fr">
			<div>
			<EventCard
			date="Sunday Sept 3"
			event="Marina Charity Event"
			location="in Limassol"
			eventImgClass="background-img__charity"
			>
		</div>
		<div>
			<EventCard
			date="Saturday Sept 30"
			event="Fun Race"
			location="in Limassol"
			eventImgClass="background-img__party"
			>
		</div>
		<div>
			<EventCard
			date="Oct 7 - 8"
			event="International Event"
			location="in Limassol"
			eventImgClass="background-img__international"
			>
		</div>
		<div>
			<EventCard
			date="Saturday Oct 14"
			event="Corporate Event"
			location="in Limassol"
			eventImgClass="background-img__corporate"
			>
		</div>
		<div>
			<EventCard
			date="Sunday Dec 3"
			event="Mouflon's Fun Race Event"
			location="in Limassol"
			eventImgClass="background-img__fun-race"
			>
		</div>
			</Grid>
		</Wrapper>
	</Section>
</MainLayout>
