---
import HeroShot from "../components/HeroShot.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Quote from "../components/Quote.astro";
import Wrapper from "../components/Wrapper.astro";
import Grid from "../components/Grid.astro";
import Section from "../components/Section.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import Lists from "../components/Lists.astro";
import Image from "../components/Image.astro";
import Button from "../components/Button.astro";
import ImageGrid from "../components/ImageGrid.astro";
import Stack from "../components/Stack.astro";
import ProductCard from "../components/ProductCard.astro";
import EventCard from "../components/EventCard.astro";
import ImageAnimated from "../components/ImageAnimated.astro";
---

<MainLayout
title="Sharks Homepage"
description=""
>
<HeroShot
img={{
	src:'/images/dragon-boat-team-2k-race.webp',
	alt:''
}}
heading="We build strength and perfect technique"
subheading="Cyprus Sharks"
text=""
btn={{
	href:'/contact',
	text:'Join our team'
}}
alignClass="heroshot__align--center"
>
<Button 
	btn={{
		href:'',
		text:'Join our training'
	}}
	alignClass="align--center"
	/>
</HeroShot>

	<Section
	paddingClass="section__padding">
	<Wrapper>
	<Grid
	gridColumnClass="grid-2fr">
<Quote 
quote="We are the dragon boat team in Cyprus, you want to be part of. Smile like a shark or swim home."/>
<ImageAnimated />
<!-- 
<BackgroundImage 
backgroundImgClass="background-img__couple"
/>
-->
</Grid>
</Wrapper>
</Section>
<Section>
<Image 
img={{
	src:'/images/dragon-boat-women.webp',
	alt:'Two women sitting on the front bench of a dragon boat'
}}
/>
</Section>

<Section 
backgroundImgClass="background-img__map"
paddingClass="section__padding">
<Wrapper>
	<h6>Don't waste your time</h6>
<h2>Join our training sessions</h2>
<Grid
gridColumnClass="grid-5fr"
>

<div class="start-row-2  start-col-1">
	<h3>Paphos</h3>
	<Lists 
	listItems={[
		"Wednesday morning",
		"Thursday evening",
		"Saturday afternoon"
	]}
	/>
</div>
<div class="start-row-2  start-col-2">
	<h3>Limassol</h3>
	<Lists 
	listItems={[
		"Wednesday evening",
		"Saturday morning",
		"Sunday morning"
	]}
	/>
</div>
<div class="start-row-3">	
	<Button 
	btn={{
		href:'',
		text:'Get in touch'
	}}
	alignClass="align--left"
	/>
</div>
</Grid>
</Wrapper>
</Section>
<Section 
heading="Our coaches make you smile and paddle like a shark"
backgroundImgClass="background-img__scales">
<Wrapper>
<ImageGrid />
<Button 
btn={{
	href:'/about',
	text:'Get to know us'
}}
alignClass="align--right"
/>
</Wrapper>
</Section>
<Section>
<Image 
img={{
	src:'/images/dragon-boat-bubbles.svg',
	alt:'Illustration about the benefits of dragon boating'
}}
maxWidthClass="width--80"
/>
</Section>

<Button 
btn={{
	href:'',
	text:'Join our team'
}}
alignClass="align--center"
/>

<Section>
	<Stack 
	heading="We are waiting for you. If you don't try, you won't know."
	img={{
		src:'/images/team.webp',
		alt:'Team picture of the dragon boat team sharks'
	}}
	>
	<Button 
	btn={{
	href:'/contact',
	text:'Contact us'
	}}
	alignClass="align--left"
	/>
	</Stack>
</Section>

<!-- @christian: here display of products -->
<Section
heading="Become a real shark">
	<Wrapper>
		<Grid
		gridColumnClass="grid-3fr">
		<ProductCard 
		img={{
			src:'/images/shirt-blue.jpeg',
			alt:'Blue Shirt from Dragon Boat Team Sharks'
		}}
		title="Blue Shirt"
		price="25€"
		/>
		<ProductCard 
		img={{
			src:'/images/leggings-purple.jpeg',
			alt:'Purple Leggings from Dragon Boat Team Sharks'
		}}
		title="Purple Leggings"
		price="28€"
		/>
		<ProductCard 
		img={{
			src:'/images/hoody-blue.jpeg',
			alt:'Blue Hoody from Dragon Boat Team Sharks'
		}}
		title="Blue Hoody"
		price="35€"
		/>
		</Grid>
		<Button 
		btn={{
			href:'/shop',
			text:'Go to our shop'
		}}
		alignClass="align--center"
		/>
	</Wrapper>
	</Section>

<!-- here event cards, I think a slider would be nice to click through them --> 
	<Section
	backgroundImgClass="background-img__icons"
	heading="Events">
		<Wrapper>
			<Grid
			gridColumnClass="grid-4fr">
				<div>
					<EventCard
					type="Race"
					day="Sat"
					date="Jun 1 - 2"
					event="National Championship 200 m and 500 m"
					location="in Limassol"
					eventImgClass="background-col__race"
					>
				</div>
				<div>
					<EventCard
					type="Race"
					day="Thu-Sun"
					date="Jul 4-7"
					event="European Nations Championship"
					location="Czech Republic"
					eventImgClass="background-col__international"
					>
				</div>
			<div>
				<EventCard
				type="Social"
				day="Sun"
				date="Jul 21"
				event="Pool Party"
				location="in Limassol"
				eventImgClass="background-col__party"
				>
			</div>
		<div>
			<EventCard
			type="Social"
			day="Sat-Sun"
			date="Aug 10-11"
			event="Beach Camp"
			location="Timi Beach"
			eventImgClass="background-col__party"
			>
		</div>
		<div>
			<EventCard
			type="Social"
			day="Sun"
			date="Sept 22"
			event="Coach's B-Day"
			location="not decided"
			eventImgClass="background-col__party"
			>
		</div>
		<div>
			<EventCard
			type="Social"
			day="Sun"
			date="Nov 17"
			event="Hike or Paintball"
			location="not decided"
			eventImgClass="background-col__party"
			>
		</div>
		<div>
			<EventCard
			type="Social"
			day="Sun"
			date="Dec 15"
			event="Christmas Celebration"
			location="not decided"
			eventImgClass="background-col__party"
			>
		</div>
			</Grid>
		</Wrapper>
	</Section>
</MainLayout>
