---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Section from "../components/Section.astro";
import Wrapper from "../components/Wrapper.astro";
import ProductCard from "../components/ProductCard.astro";
import Grid from "../components/Grid.astro";
import Button from "../components/Button.astro";
---

<MainLayout
title="Purple Hoodie"
description="">

	<Wrapper>
        <!-- @Chritian: Here slider like we have in rainbowsend, just different styling (Anna) -->
		<Grid
		gridColumnClass="grid-2fr">
		<ProductCard 
		img={{
			src:'/images/hoody-purple.jpeg',
			alt:'Purple Hoodie from Dragon Boat Team Sharks'
		}}
		title="Purple Hoodie"
		price="35€"
		/>
		<div>
            <h2>Purple Hoodie</h2>
            <p>Description</p>
            <Button 
		btn={{
			href:'/form-to-order',
			text:'Order now'
		}}
		alignClass="align--left"
		/>
        </div>
		</Grid>
	</Wrapper>


    

</MainLayout>