---
import MainLayout from "../layouts/MainLayout.astro";
import HeroShot from "../components/HeroShot.astro";
import Section from "../components/Section.astro";
import Wrapper from "../components/Wrapper.astro";
import ProductCard from "../components/ProductCard.astro";
import Grid from "../components/Grid.astro";
import Button from "../components/Button.astro";
import Steps from "../components/Steps.astro";
---

<MainLayout
title="Shop"
description="Shop your sharks outfit and feel the strength and passion about dragon boating.">
<HeroShot 
img={{
	src:'/images/models.webp',
	alt:''
}}
subheading="Get your outfit"
heading="Become a true shark fan or member"
alignClass="heroshot__align--center"
/>
<div class="body--dark">
<Section
paddingClass="section__padding--top">
	<Wrapper>
		<Grid
		gridColumnClass="grid-4fr">
	<Steps 
		number="#01"
		text="Choose your item"
	/>
	<Steps 
		number="#02"
		text="Select your size"
	/>
	<Steps 
		number="#03"
		text="Send your order"
	/>
	<Steps 
		number="#04"
		text="Receive payment details"
	/>
	</Grid>
	</Wrapper>
</Section>
</div>
<Section
heading="Our products">
	<Wrapper>
		<Grid
		gridColumnClass="grid-3fr">
		<ProductCard 
		img={{
			src:'/images/shirt-blue.jpeg',
			alt:'Blue Shirt from Dragon Boat Team Sharks'
		}}
		title="Blue Shirt"
		price="25€"
		href="/blue-shirt"
		/>
		<ProductCard 
		img={{
			src:'/images/shirt-pink.jpeg',
			alt:''
		}}
		title="Pink Shirt"
		price="28€"
		href="/pink-shirt"
		/>
		<ProductCard 
		img={{
			src:'/images/hoody-blue.jpeg',
			alt:'Blue Hoodie from Dragon Boat Team Sharks'
		}}
		title="Blue Hoodie"
		price="35€"
		href="/blue-hoodie"
		/>
        <ProductCard 
		img={{
			src:'/images/hoody-purple.jpeg',
			alt:''
		}}
		title="Purple Hoodie"
		price="28€"
		href="/purple-hoodie"
		/>
		<ProductCard 
		img={{
			src:'/images/leggings-purple.jpeg',
			alt:''
		}}
		title="Purple Leggings"
		price="35€"
		href="/purple-leggings"
		/>
        <ProductCard 
		img={{
			src:'/images/short-purple.jpeg',
			alt:''
		}}
		title="Purple Shorts"
		price="28€"
		href="/purple-shorts"
		/>
		<ProductCard 
		img={{
			src:'/images/shorts-blue.jpeg',
			alt:''
		}}
		title="Blue Shorts"
		price="35€"
		href="/blue-shorts"
		/>
        <ProductCard 
		img={{
			src:'/images/west-blue.jpeg',
			alt:''
		}}
		title="Blue West"
		price="35€"
		href="/blue-west"
		/>
		</Grid>
		<Button 
		btn={{
			href:'/form-to-order',
			text:'Send your order'
		}}
		alignClass="align--center"
		/>
	</Wrapper>
	</Section>

</MainLayout>